# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum


# env file
.env

# misc. 
nomodit_desc.text

## Python ignores 
training/**/*.pyc
training/**/__pycache__/
training/**/*.pyo
training/**/*.pyd
training/**/.Python
training/**/myenv
training/**/env/
training/**/venv/
training/**/.venv/
training/**/pip-log.txt
training/**/pip-delete-this-directory.txt
training/**/.tox/
training/**/.coverage
training/**/.coverage.*
training/**/.cache
training/**/nosetests.xml
training/**/coverage.xml
training/**/*.cover
training/**/*.log
training/**/.mypy_cache/
training/**/.pytest_cache/
training/**/.hypothesis/